@import '../../app/styles/theme.css';
@import 'tailwindcss';

.highlights {
  @apply w-full px-1 lg:px-8 py-8 bg-white;
}

.highlights__title {
  @apply text-2xl font-semibold tracking-tight text-gray-900 mb-6;
}

.highlights__list {
  @apply grid gap-6 list-none p-0 m-0 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3;
}

.highlights__list_item {
  @apply m-0;
}

.highlight {
  @apply h-full;
}
